@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
  .room {
    @apply max-w-[40vw] flex place-items-center justify-center flex-col
  }

  .room div.create-room, .room div.join-room {
    @apply w-full
  }

  .room div.create-room div button {
    @apply text-center border-white w-36 h-12 m-2
  }

  .room div.create-room > button, .room div.join-room button {
    @apply w-full h-16 mt-2 text-center text-black bg-white border-4 border-white
  }

  .morpion .board {
    @apply grid
  }

  .morpion h1 {
    @apply text-3xl absolute top-0 mt-6
  }

  .morpion .board div.cell:nth-child(2) {
    border: solid 1px white;
    border-top: none;
    border-bottom: none;
  }

  .morpion .board div.cell div {
    @apply w-[100px] h-[100px] flex justify-center place-items-center
  }

  .morpion .board div.cell div span {
    @apply text-6xl
  }

  .morpion .board div.cell div:nth-child(2) {
    border: solid 1px white;;
    border-left: none;
    border-right: none;
  }
}

:root {
  font-family: "Josefin Sans", Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 1);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

#root, body, html {
  height: 100%;
  width: 100%;
}

button {
  font-size: 24px;
}

input:focus {
  outline: none;
}
